.jumbotron{
    background-color: #111;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

.table{
    background-color: #111;
    color: #fff;
    text-align: center;
    opacity: 0.9;
}

.center{
    margin-right: auto;
    margin-left: auto;
}

body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    display: grid;
    justify-content: center;
}

#loader{
    display: flex;
    justify-content: center;
    display: none;
}