#tableResults{
    margin: 20px auto;
    width: 95%;
}

#tableResults, tr, td, th{
    border: 1px solid gray;
}

.country__img {
    width: 10rem;
    height: 6rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    align-items: center;
  }

#loader {
    display: none;
    height: 10vh;
}