body{
    background: #2C2F33;
    color: white;
    
}
h1{
    text-align: center;
    
}
.input{
    display: flex;
    justify-content: center;
}
.sort{
    display: flex;
    justify-content: center;
}
.yellow {
    color: yellow;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}
.red{
    color: red;
    font-size: 1.4em;
    text-align: center;
}
.white {
    color: white;
    font-size: 1.4em;
    text-align: center;
}
.padding{
    padding: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#loader {
    display: none;
}